*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.roboto{
    font-family: "Roboto", sans-serif;
}

.main-div{
    width: 900px;
    height: 500px;
    margin: 0px auto;
    background-color: #F2F1F1;
}

.child{
    width: 600px;
    height: 400px;
    margin: 0px auto;
    background-color: white;
    border-radius: 24px;
}
