*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.raleway{
    font-family: "Raleway", sans-serif;
}

.inter{
    font-family: "Inter", sans-serif;
}

body {
    /* font-family: "Raleway", sans-serif; */
    /* font-family: "Inter", sans-serif; */
    /* font-size: 50px;
    font-weight: 800; */
}
.main-div{
    background-color: aquamarine;
    width: 1200px;
    height: auto;
    margin: 0px auto;
    
}

.child-div{
    background-color: white;
    margin: 0px auto;
    width: 1000px;
    height: auto;
}
.navbar-section{
    font-family: "Raleway", sans-serif;
}

.banner{
    position: relative;
    font-family: "Inter", sans-serif;
}

.tecat-div{
    position: absolute;
    bottom: -70px;
}

.tecat1{
    width: 300px;
    height: 130px;
    border: 1px solid;
    background-color: white;
    border-radius: 24px;
}

.best-offers .left{
    position: relative;
    width: 490px;
    height: 220px;
    
    /* border-radius: 24px; */
}
.best-offers .left .circle-1{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    top: -25px;
}

.best-offers .left .circle-2{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    bottom: -25px;
}


.best-offers .right{
    position: relative;
    width: 490px;
    height: 220px;
    
    /* border-radius: 24px; */
}

.best-offers .right .circle-3{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    top: -25px;
    
    
}

.best-offers .right .circle-4{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    bottom: -25px;
}
.Ticket-counter{
    width: 1200px;
    background-color: #F7F8F8;
    border-radius: 88px 88px 0px 0px;


}

.ticket{
    
    width: 1000px;
    margin: 0px auto;
}

.Greenline{
    position: relative;
    width: 1000px;
    margin: 0px auto;
    /* background-color: red; */
}

.site{
    width: 160px;
    height: 50px;
    background-color: #1DD10026;
    border-radius: 12px;
}

.Laxmipur{
    width: 220px;
    height: 50px;
    background-color: #0307120D;
    border-radius: 12px;
}

.Greenline .cir5{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #F7F8F8;
    border-radius: 50%;
    top: -25px;
    right: 180px;
}
.Greenline .cir6{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #F7F8F8;
    border-radius: 50%;
    bottom: -25px;
    right: 180px;
}

.Select-Your-Seat{
    width: 1000px;
    margin: 0px auto;
    background-color: aqua;
    
}